nav {
    background-color: #d9f100;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    margin: 10px 20px
}
nav li {
    display: inline;
}
nav li a {
    color: #fff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 20px;
    letter-spacing: 2px;
    border-radius: 8px;
}
nav li a:hover {
    color: #d9f100;
    background-color: #ffffff;
}